<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tixs.tixsdriver">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_driver"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_driver"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistroActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".CreateProfileActivity" />
        <activity android:name=".AdicionarEscolaActivity" />
        <activity android:name=".CreateVanActivity" />
        <activity android:name=".AdministrarVanActivity" />
        <activity android:name=".AdicionarBairroActivity" />
        <activity android:name=".CheckInIdaActivity"></activity>
    </application>

</manifest>